@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bg-y-50 {
  background-position: 0 50%;
}

.cover {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1080 !important;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.cover-logo {
  background: url(/logo.svg) center no-repeat;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-name: cover-logo-fade;
  -moz-animation-name: cover-logo-fade;
  animation-name: cover-logo-fade;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
  -moz-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@media (min-width: 992px) {
  .cover-logo {
    height: 180px;
    width: 180px;
  }
}

@-webkit-keyframes cover-logo-fade {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes cover-logo-fade {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cover-logo-fade {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  55% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
